# 忽略 target 目录下大部分文件，只保留我们需要复制的二进制
target/*
!target/release/
target/release/*
!target/release/modbus-driver
!target/release/device-meter

# 忽略 git
.git
.git/**
.github

# 忽略 node_modules 之类
node_modules

# 忽略日志
*.log

# 忽略 IDE
.vscode
.idea

# 忽略 docs/doc
doc/
docs/
*.md

# 忽略 deploy 里的 yaml 不需要进镜像
deploy/

# 忽略 examples
**/examples/
